
    
    
      
      <div class="page-header">
        <h1>Sistema de Atribuição de aula</h1>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3>Opções</h3>
          <%= link_to 'Cadastro de Professores', professores_path, class:"btn btn-default btn-block" %>          
          <br />
          <%= link_to '1ª Fase - Atribuição na Escola', 'atribuicao_escola#index', class:"btn btn-default btn-block" %>
          <br />
          <%= link_to '2ª Fase - Atribuição na Secretaria Municipal da Educação', 'atribuicao_secretaria#index', class:"btn btn-default btn-block" %>
          <br />
                  
        </div>
    </div>
